body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.header-container {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

.header-container h1 {
    font-size: 24px;
    font-weight: bold;
}

.post {
    width: 600px;
    margin: 20px auto;
}

.flex-container {
    background: white;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    justify-content: space-between;
}

.h2 {
    font-size: 15px;
    display: flex;
    margin: 0;
    align-items: center;
}

.h2 h2 {
    margin: 0;
}

.fa-solid.fa-circle-user {
    font-size: 25px;
    margin-right: 8px;
}


.post-header.wifi {
    font-size: 18px;
    display: flex;
}

.flex-container img {
    width: 100%;
    height: 500px;
    object-position: center top;
    object-fit: cover;
    display: block;
}

.icons {
    padding: 10px 15px;
    font-size: 30px;
    color: #444;
    display: flex;
    justify-content: space-between;
}

.icons.bookmark {
    padding: 10px 15px;
    font-size: 30px;
    color: #444;
    display: flex;
}


.likes {
    padding: 10px 15px;
    font-size: 14px;
    color: #444;
}

.photo-caption {
    padding: 10px 15px;
    font-size: 14px;
    color: #444;
}